body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  color: red;
}

header {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  font-size: 0.8em;
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin:auto;
}

#details {
  display:block;
  float: left;
}